<h1>Bottles</h1>


<% user = User.find_by_id(session["user_id"]) %>

<% if session["user_id"].present? && user.user_type == "admin"%>

    <div class = "navbar">
      <div class = "navbar-inner">
        <ul class ="nav">  

          <li><%= link_to 'Add a New Bottle', new_bottle_url %></li> 
          <li><%= link_to 'Add a New Brand', new_brand_url %></li> 

          <li class="dropdown"> <a class="dropdown-toggle" data-toggle= "dropdown" href="#">Flavors<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Add a New Flavor', new_flavor_url%> </li> 
                <li> <%= link_to 'View Flavors', flavors_url%></li> 
                <li> <%= link_to 'Add Flavor Assignments', new_flavorassignment_url%></li> 
                <li> <%= link_to 'View Flavor Assignments', flavorassignments_url%></li> 
              </ul>
          </li> 

          <li class="dropdown"> <a class="dropdown-toggle" data-toggle= "dropdown" href="#">Varietals<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Add a New Varietal', new_varietal_url%> </li> 
                <li> <%= link_to 'View Varietals', varietals_url%></li> 
                <li> <%= link_to 'Add Varietal Assignments', new_varietalassignment_url%></li> 
                <li> <%= link_to 'View Varietal Assignments', varietalassignments_url%></li> 
              </ul>
          </li> 

          <li class="dropdown"> <a class="dropdown-toggle" data-toggle= "dropdown" href="#">Occasions<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Add a New Occasion', new_event_url%> </li> 
                <li> <%= link_to 'View Occasions', events_url%></li> 
                <li> <%= link_to 'Add Occasion Assignments', new_occasion_url%></li> 
                <li> <%= link_to 'View Occasion Assignments', occasions_url%></li> 
              </ul>
          </li> 

        </ul>
      </div>
    </div>

<%else%>
        <br>
<%end%>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "year" %></th>
      <th><%= sortable "color", "Color of Wine" %></th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bottles.each do |bottle| %>
    <tr>
        <td><%= bottle.name %></td>
        <td><%= bottle.year %></td>
        <td><%= bottle.color %></td>

      <td><%= link_to 'Show', bottle_url(bottle), class: 'btn' %></td>

   <% user = User.find_by_id(session["user_id"]) %>

    <% if session["user_id"].present? && user.user_type == "admin"%>
          <td><%= link_to 'Edit', edit_bottle_url(bottle), class: 'btn' %></td>
          <td><%= link_to 'Destroy', bottle_url(bottle), method: 'delete', data: { confirm: "Do you really want to delete this bottle?" }, class: 'btn btn-danger' %></td>
  <% else %>
          <td></td>
          <td></td>
  <% end %>

    </tr>
  <% end %>
  </body>
</table>

