<h1>Bottles</h1>

<p><%= link_to 'Add a New Bottle', new_bottle_url, class: 'btn' %></p>
<p><%= link_to 'Add a New Occasion', new_event_url, class: 'btn' %></p>
<p><%= link_to 'Add a New User', new_user_url, class: 'btn' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "year" %></th>
      <th><%= sortable "color", "Color of Wine" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bottles.each do |bottle| %>
    <tr>
        <td><%= bottle.name %></td>
        <td><%= bottle.year %></td>
        <td><%= bottle.color %></td>
  
      <td><%= link_to 'Show', bottle_url(bottle), class: 'btn' %></td>
      <td><%= link_to 'Edit', edit_bottle_url(bottle), class: 'btn' %></td>
      <td><%= link_to 'Destroy', bottle_url(bottle), method: 'delete', data: { confirm: "Do you really want to delete this bottle?" }, class: 'btn btn-danger' %></td>

    </tr>
  <% end %>
  </body>
</table>

