
<h1>Bottle #<%= @bottle.id %></h1>

<table>
     <tr>
      <td><%= link_to 'Edit this bottle', edit_bottle_url(@bottle), class: 'btn' %></td>
      <td><%= link_to 'Add occasions', new_occasion_url(@occasion), class: 'btn' %></td>
      <td><%= link_to 'Add flavor assignments', new_flavorassignment_url(@flavorassignment), class: 'btn' %></td>
    </tr>
</table>

<p>
  <b>Name:</b>
  <%= @bottle.name %>
</p>

<p>
  <b>Year:</b>
  <%= @bottle.year %>
</p>

<p>
  <b>Color:</b>
  <%= @bottle.color %>
</p>

<p>
  <b>Varietal:</b>
  <%= @bottle.varietal %>
</p>

<p>
  <b>Appellation:</b>
  <%= @bottle.appellation %>
</p>

<p>
  <b>Style:</b>
  <%= @bottle.style %>
</p>

<p>
  <b>Flavors:</b>
  <%= @bottle.flavors %>
</p>

<p>
  <b>Alcohol:</b>
  <%= @bottle.alcohol %>
</p>

<p>
  <b>Production:</b>
  <%= @bottle.production %>
</p>

<p>
  <b>Price:</b>
  <%= @bottle.price %>
</p>

<p>
  <b>Picture_id:</b>
  <%= @bottle.picture_id %>
</p>

<p>
  <b>Occasion:</b>
  <%= @bottle.occasion %>
</p>

<p>
  <b>Description:</b>
  <%= @bottle.description %>
</p>
