<%= form_for(@bootstrap) do |f| %>
  <% if @bootstrap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bootstrap.errors.count, "error") %> prohibited this bootstrap from being saved:</h2>

      <ul>
      <% @bootstrap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cosmo %><br />
    <%= f.text_field :cosmo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
