<h1>Occasions</h1>

<p><%= link_to 'Add a New Occasion', new_occasion_url %></p>

<table>
  <thead>
    <tr>
      <th>Bottle</th>
      <th>Occasion</th>
      <th></th>
      <th></th>
      <th></th>
                </tr>
  </thead>

  <tbody>
  <% @occasions.each do |occasion| %>
    <tr>
      <td><%= Bottle.find_by_id(occasion.bottle_id).name %></td>
      <td><%= Event.find_by_id(occasion.event_id).event %></td>

      <td><%= link_to 'Show', occasion_url(occasion) %></td>
      <td><%= link_to 'Edit', edit_occasion_url(occasion) %></td>
      <td><%= link_to 'Destroy', occasion_url(occasion), method: 'delete', data: { confirm: "Do you really want to delete this occasion?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

